/* line 4, /usr/local/rvm/gems/ruby-1.8.7-head/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html, body {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 6, /usr/local/rvm/gems/ruby-1.8.7-head/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
html {
  font-size: 100.01%; }

/* line 16, /usr/local/rvm/gems/ruby-1.8.7-head/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
div, span, object, iframe, h1, h2, h3, h4, h5, h6, p,
pre, a, abbr, acronym, address, code, del, dfn, em, img,
dl, dt, dd, ol, ul, li, fieldset, form, label, legend, caption, tbody, tfoot, thead, tr {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline; }

/* line 18, /usr/local/rvm/gems/ruby-1.8.7-head/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
blockquote, q {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  quotes: "" ""; }
  /* line 45, /usr/local/rvm/gems/ruby-1.8.7-head/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
  blockquote:before, blockquote:after, q:before, q:after {
    content: ""; }

/* line 20, /usr/local/rvm/gems/ruby-1.8.7-head/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
th, td, caption {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  text-align: left;
  font-weight: normal;
  vertical-align: middle; }

/* line 22, /usr/local/rvm/gems/ruby-1.8.7-head/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
table {
  margin: 0;
  padding: 0;
  border: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
  border-collapse: separate;
  border-spacing: 0;
  vertical-align: middle; }

/* line 24, /usr/local/rvm/gems/ruby-1.8.7-head/gems/compass-0.10.5/frameworks/blueprint/stylesheets/blueprint/reset/_utilities.scss */
a img {
  border: none; }

/* line 1, ./src/stylesheets/partials/_typography.sass */
body {
  font-size: 15px;
  line-height: 20px;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
  color: white; }
  /* line 7, ./src/stylesheets/partials/_typography.sass */
  body a {
    text-decoration: none; }
    /* line 9, ./src/stylesheets/partials/_typography.sass */
    body a, body a:active, body a:visited {
      color: #c63210; }
    /* line 11, ./src/stylesheets/partials/_typography.sass */
    body a:hover, body a.current {
      color: #bbbbbb; }
  /* line 14, ./src/stylesheets/partials/_typography.sass */
  body h1, body h2, body h4, body h5, body h6, body p {
    margin: 0 0 1em 0; }
  /* line 16, ./src/stylesheets/partials/_typography.sass */
  body h1, body h2 {
    font-weight: bold;
    font-size: 18px; }
  /* line 19, ./src/stylesheets/partials/_typography.sass */
  body h1, body h3 {
    padding: 0;
    margin: 0; }
  /* line 21, ./src/stylesheets/partials/_typography.sass */
  body h3 {
    font-size: 15px; }
  /* line 23, ./src/stylesheets/partials/_typography.sass */
  body h3.name {
    color: #c63210; }

/* line 1, ./src/stylesheets/partials/_application.sass */
body {
  background-color: black; }

/* line 5, ./src/stylesheets/partials/_application.sass */
html a.logo, * html a.logo, *:first-child + html a.logo {
  text-indent: 0;
  overflow: hidden;
  font-size: 0px;
  line-height: 0px; }

/* line 11, ./src/stylesheets/partials/_application.sass */
html {
  height: 102%; }

/* line 13, ./src/stylesheets/partials/_application.sass */
#main {
  min-height: 100%;
  height: auto !important;
  height: 100%; }

/* line 17, ./src/stylesheets/partials/_application.sass */
#header {
  width: 990px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  text-align: center; }
  /* line 21, ./src/stylesheets/partials/_application.sass */
  #header h1#title {
    display: inline;
    float: left;
    margin-right: 0;
    width: 990px;
    width: 990px;
    margin: 0 auto;
    overflow: hidden;
    *zoom: 1; }
    /* line 139, /usr/local/rvm/gems/ruby-1.8.7-head/gems/compass-0.10.5/frameworks/blueprint/stylesheets/./blueprint/_grid.scss */
    * html #header h1#title {
      overflow-x: hidden; }
    /* line 24, ./src/stylesheets/partials/_application.sass */
    #header h1#title #logo {
      width: 990px;
      height: 150px;
      text-indent: -999em;
      background: url(/images/Header_Awake2.jpg) no-repeat left top; }
    /* line 29, ./src/stylesheets/partials/_application.sass */
    #header h1#title #byline {
      line-height: 38px; }
      /* line 31, ./src/stylesheets/partials/_application.sass */
      #header h1#title #byline a, #header h1#title #byline a:visited, #header h1#title #byline a:active {
        color: white; }
      /* line 33, ./src/stylesheets/partials/_application.sass */
      #header h1#title #byline a:hover {
        color: #c63210; }
      /* line 35, ./src/stylesheets/partials/_application.sass */
      #header h1#title #byline a.logo {
        display: inline-block;
        vertical-align: sub;
        background: url(/images/boheme_logo.png) no-repeat left center;
        width: 135px;
        height: 21px; }

/* line 42, ./src/stylesheets/partials/_application.sass */
#stills {
  border-color: white;
  border-top: 1px solid;
  border-bottom: 1px solid;
  margin-bottom: 1em; }
  /* line 47, ./src/stylesheets/partials/_application.sass */
  #stills #slideshow {
    width: 990px;
    margin: 0 auto;
    overflow: hidden;
    *zoom: 1;
    display: inline;
    float: left;
    margin-right: 15px;
    width: 990px;
    height: 300px; }
    /* line 139, /usr/local/rvm/gems/ruby-1.8.7-head/gems/compass-0.10.5/frameworks/blueprint/stylesheets/./blueprint/_grid.scss */
    * html #stills #slideshow {
      overflow-x: hidden; }

/* line 52, ./src/stylesheets/partials/_application.sass */
#nav {
  line-height: 38px;
  font-weight: bold;
  border-top: 1px solid #444444;
  border-bottom: 4px solid #222222; }
  /* line 57, ./src/stylesheets/partials/_application.sass */
  #nav ul {
    list-style-type: none;
    width: 990px;
    margin: 0 auto;
    overflow: hidden;
    *zoom: 1; }
    /* line 60, ./src/stylesheets/partials/_application.sass */
    #nav ul li {
      text-align: center;
      float: left; }
      /* line 63, ./src/stylesheets/partials/_application.sass */
      #nav ul li a {
        display: inline;
        float: left;
        margin-right: 15px;
        width: 487.5px;
        outline: none;
        background-color: black; }
        /* line 139, /usr/local/rvm/gems/ruby-1.8.7-head/gems/compass-0.10.5/frameworks/blueprint/stylesheets/./blueprint/_grid.scss */
        * html #nav ul li a {
          overflow-x: hidden; }
      /* line 67, ./src/stylesheets/partials/_application.sass */
      #nav ul li a.current {
        background: #222222 url(/images/tabs_bg.png) no-repeat 480px; }
    /* line 69, ./src/stylesheets/partials/_application.sass */
    #nav ul li.last {
      display: inline;
      float: left;
      margin-right: 0;
      width: 487.5px; }
      /* line 139, /usr/local/rvm/gems/ruby-1.8.7-head/gems/compass-0.10.5/frameworks/blueprint/stylesheets/./blueprint/_grid.scss */
      * html #nav ul li.last {
        overflow-x: hidden; }
      /* line 71, ./src/stylesheets/partials/_application.sass */
      #nav ul li.last a.current {
        background: #222222 url(/images/tabs_bg.png) no-repeat -8px; }

/* line 74, ./src/stylesheets/partials/_application.sass */
#main {
  width: 990px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1;
  padding-bottom: 40px; }
  /* line 77, ./src/stylesheets/partials/_application.sass */
  #main .subhead {
    padding: 2em 40px 0 40px;
    display: inline;
    float: left;
    margin-right: 0;
    width: 990px; }
    /* line 139, /usr/local/rvm/gems/ruby-1.8.7-head/gems/compass-0.10.5/frameworks/blueprint/stylesheets/./blueprint/_grid.scss */
    * html #main .subhead {
      overflow-x: hidden; }
  /* line 81, ./src/stylesheets/partials/_application.sass */
  #main .content .left {
    display: inline;
    float: left;
    margin-right: 15px;
    width: 487.5px; }
    /* line 139, /usr/local/rvm/gems/ruby-1.8.7-head/gems/compass-0.10.5/frameworks/blueprint/stylesheets/./blueprint/_grid.scss */
    * html #main .content .left {
      overflow-x: hidden; }
    /* line 83, ./src/stylesheets/partials/_application.sass */
    #main .content .left > * {
      padding: 0 10px 0 40px; }
  /* line 85, ./src/stylesheets/partials/_application.sass */
  #main .content .right {
    display: inline;
    float: left;
    margin-right: 0;
    width: 487.5px; }
    /* line 139, /usr/local/rvm/gems/ruby-1.8.7-head/gems/compass-0.10.5/frameworks/blueprint/stylesheets/./blueprint/_grid.scss */
    * html #main .content .right {
      overflow-x: hidden; }
    /* line 87, ./src/stylesheets/partials/_application.sass */
    #main .content .right > * {
      padding: 0 40px 0 10px; }

/* line 90, ./src/stylesheets/partials/_application.sass */
#footer {
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  line-height: 24px;
  background-color: black;
  border-top: 4px solid #222222;
  color: #c63210; }
  /* line 99, ./src/stylesheets/partials/_application.sass */
  #footer ul {
    list-style-type: none;
    width: 990px;
    margin: 0 auto;
    overflow: hidden;
    *zoom: 1; }
    /* line 102, ./src/stylesheets/partials/_application.sass */
    #footer ul li {
      display: inline;
      float: left;
      margin-right: 15px;
      width: 320px;
      float: left;
      text-align: center; }
      /* line 139, /usr/local/rvm/gems/ruby-1.8.7-head/gems/compass-0.10.5/frameworks/blueprint/stylesheets/./blueprint/_grid.scss */
      * html #footer ul li {
        overflow-x: hidden; }
    /* line 106, ./src/stylesheets/partials/_application.sass */
    #footer ul li:first-child {
      text-align: left; }
    /* line 108, ./src/stylesheets/partials/_application.sass */
    #footer ul li.last {
      text-align: right;
      display: inline;
      float: left;
      margin-right: 0;
      width: 320px; }
      /* line 139, /usr/local/rvm/gems/ruby-1.8.7-head/gems/compass-0.10.5/frameworks/blueprint/stylesheets/./blueprint/_grid.scss */
      * html #footer ul li.last {
        overflow-x: hidden; }
  /* line 111, ./src/stylesheets/partials/_application.sass */
  #footer a .logo {
    display: inline-block;
    width: 25px;
    height: 15px;
    text-indent: -999em;
    vertical-align: sub;
    background: url(/images/e9logo_Off.png) no-repeat left top; }
  /* line 118, ./src/stylesheets/partials/_application.sass */
  #footer a:hover .logo {
    background: url(/images/e9Logo_Over.png) no-repeat left top; }

/* line 124, ./src/stylesheets/partials/_application.sass */
.container {
  width: 990px;
  margin: 0 auto;
  overflow: hidden;
  *zoom: 1; }
