%ul
  %li
    %a{:href => "#film-synopsis", :title => 'Film Synopsis', :alt => 'Film Synopsis'} Film Synopsis
  %li.last
    %a{:href => "#cast-and-crew", :title => 'Cast and Crew', :alt => 'Cast and Crew'} Cast and Crew
